---
- hosts:
    - all
    - localhost
  roles:
    - role: standard
      tags: standard
    - role: laptop
      tags: laptop
    - role: desktop
      tags: desktop
    - role: devel
      tags: devel
    - role: keybase
      tags: keybase
  become: true

- hosts:
    - all
    - localhost
  roles:
    - role: users/jak
      tags: jak
      become: true
      become_user: jak
      when: "ansible_facts.user_id == 'jak' or ansible_facts.env.get('SUDO_USER', '') == 'jak'"

- hosts:
    - localhost
  tasks:
    - name: Build metapackages
      command: python3 ./util/ansible-metapackage.py
      register: metapackages_build
    - name: Install metapackages
      apt:
        deb: "{{ lookup('ansible.builtin.fileglob', './debs/*.deb') }}"
    - name: Minimize manual packages
      command: apt-mark minimize-manual -y
      register: minimize_manual
      changed_when: "'No changes necessary' not in minimize_manual.stdout"
  tags: finalize
  become: true
