# Web browsers
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Ensure code snap is not installed
  snap:
    name: code
    state: absent

- name: Install code
  apt:
    deb: "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64"
  when: "'code' not in ansible_facts.packages"

- name: Ensure code deb is installed
  apt:
    name: code
    state: present

- name: Ensure mattermost-desktop snap is installed
  snap:
    name: mattermost-desktop
    state: present

- name: Ensure element-desktop snap is installed
  snap:
    name: element-desktop
    state: present
