- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Configure google-chrome vaapi support
  copy:
    dest: /etc/apt/apt.conf.d/99chrome-vaapi
    content: |
      Dpkg::Post-Invoke:: "grep  -q Vaapi /opt/google/chrome/google-chrome || sed -i 's#^exec.*HERE.*/chrome.*#\0 --enable-features=VaapiVideoDecoder,WebUIDarkMode --disable-features=UseChromeOSDirectVideoDecoder --force-dark-mode#' /opt/google/chrome/google-chrome";
    mode: 0644

- name: Install google-chrome
  apt:
    deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  when: "'google-chrome-stable' not in ansible_facts.packages"

- name: Ensure google-chrome-stable deb is installed
  apt:
    name: google-chrome-stable
    state: present

- name: Add firefox.sources
  tags: firefox
  copy:
    dest: /etc/apt/sources.list.d/firefox.sources
    content: |
      Types: deb
      URIs: https://packages.mozilla.org/apt
      Suites: mozilla
      Components: main
      Signed-By:
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        .
        xsBNBGCRt7MBCADkYJHHQQoL6tKrW/LbmfR9ljz7ib2aWno4JO3VKQvLwjyUMPpq
        /SXXMOnx8jXwgWizpPxQYDRJ0SQXS9ULJ1hXRL/OgMnZAYvYDeV2jBnKsAIEdiG/
        e1qm8P4W9qpWJc+hNq7FOT13RzGWRx57SdLWSXo0KeY38r9lvjjOmT/cuOcmjwlD
        T9XYf/RSO+yJ/AsyMdAr+ZbDeQUd9HYJiPdI04lGaGM02MjDMnx+monc+y54t+Z+
        ry1WtQdzoQt9dHlIPlV1tR+xV5DHHsejCZxu9TWzzSlL5wfBBeEz7R/OIzivGJpW
        QdJzd+2QDXSRg9q2XYWP5ZVtSgjVVJjNlb6ZABEBAAHNVEFydGlmYWN0IFJlZ2lz
        dHJ5IFJlcG9zaXRvcnkgU2lnbmVyIDxhcnRpZmFjdC1yZWdpc3RyeS1yZXBvc2l0
        b3J5LXNpZ25lckBnb29nbGUuY29tPsLAjgQTAQoAOBYhBDW6oLM+nrOW9ZyoOMC6
        XObcYxWjBQJgkbezAhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEMC6XObc
        YxWj+igIAMFh6DrAYMeq9sbZ1ZG6oAMrinUheGQbEqe76nIDQNsZnhDwZ2wWqgVC
        7DgOMqlhQmOmzm7M6Nzmq2dvPwq3xC2OeI9fQyzjT72deBTzLP7PJok9PJFOMdLf
        ILSsUnmMsheQt4DUO0jYAX2KUuWOIXXJaZ319QyoRNBPYa5qz7qXS7wHLOY89IDq
        fHt6Aud8ER5zhyOyhytcYMeaGC1g1IKWmgewnhEq02FantMJGlmmFi2eA0EPD02G
        C3742QGqRxLwjWsm5/TpyuU24EYKRGCRm7QdVIo3ugFSetKrn0byOxWGBvtu4fH8
        XWvZkRT+u+yzH1s5yFYBqc2JTrrJvRU=
        =QnvN
        -----END PGP PUBLIC KEY BLOCK-----
  register: firefox_source

- name: Add firefox preferences
  tags: firefox
  copy:
    dest: /etc/apt/preferences.d/firefox
    content: |
      Package: firefox
      Pin: origin packages.mozilla.org
      Pin-Priority: 1000

      Package: firefox
      Pin: origin *
      Pin-Priority: -1

- name: Update apt
  apt:
    update_cache: true
  when: firefox_source.changed

- name: Ensure firefox deb is installed
  tags: firefox
  apt:
    name: firefox
    state: latest
    allow_downgrade: true

- name: Ensure firefox snap is absent
  tags: firefox
  snap:
    name: firefox
    state: absent

- name: Add firefoxpwa.sources
  copy:
    dest: /etc/apt/sources.list.d/firefoxpwa.sources
    content: |
      Types: deb
      URIs: https://packagecloud.io/filips/FirefoxPWA/any
      Suites: any
      Components: main
      Signed-By: -----BEGIN PGP PUBLIC KEY BLOCK-----
       .
       mQINBGEG3kQBEACj7i7MWO+tO34OwjaDdkTj61av1zCadlo8Jv/E3ZPtHwkoGlm2
       GegNUBA+PKz1SqHxifdjSovEBInPhgKrZtUXxsjhgvkCEu8lnoogtjxL1Cds597C
       pfKO7u5Q+PtJov3PAAHX17u/frIM3bAnZjhuKCXjQcE2PXRdwfvXY6pW7YUTH+tR
       88XNMdQdcD1FWvrJpuAmOMTFUX/GvK7P1m4kusA0V8B/Njr9uvDZQv877qap54Gx
       +yefEt8p5oLTOKiEQyIu8z0SvhK5d6XoQDrxEg8B3aQmlBiyiiwi+ZMJp0n8RlKW
       i7LYJoMerjINUOFdAdvLVb+bmxTSi2CjwK/bWoVE+7awZBy8bpoyIOoYvYnIXktw
       PIB26dvdsGzBMb7VDHoP0Q9huQKfmPXjZRGP0jEPyMu0w+388dojUowpq9IBHn0E
       LZ0z9B/ekb5Acxkdf+tRuOPpTqpUZEBZWyNQKQIDP08PdD3HAQGZ3/LyDI3R1NH+
       sQdQaxi+KqPI71HFlNBAZoJrreyQlk3cREdBArFJKBOhqboaIYyQEbs3Namm7BIC
       AdA6QNIglqPPt3gqVQiZqaN0X0W3FuvJg0oCE7nAsfiBxZwAhMOlRFDPkBF9IPUw
       I1Z3ygFjAaZpDzukF57JkI9uG5m4+/gMPQXHHpgH/4nS877B23f83W0nTQARAQAB
       tG5odHRwczovL3BhY2thZ2VjbG91ZC5pby9maWxpcHMvRmlyZWZveFBXQSAoaHR0
       cHM6Ly9wYWNrYWdlY2xvdWQuaW8vZG9jcyNncGdfc2lnbmluZykgPHN1cHBvcnRA
       cGFja2FnZWNsb3VkLmlvPokCTgQTAQoAOBYhBBo9UfcmHP2z8S96WVYMPG5kSH4k
       BQJhBt5EAhsvBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEFYMPG5kSH4k0bgP
       /1B7bdZmKk51uh8xQ+zYF1vlR1Hv8NH365GuTmkrClhQmpgsgb3CYrqK6B0SsR0l
       vl2/ERmuxCzDnYgYgizAwK12KNWXEVC4uxlF8SY0lH9MaKy2o17pmeNOYFeiftzZ
       nmxz/McwhNLF4rRrK0u2dqY4JKIlTYI511MJu96WDXJ0mkSpetH7CiNsMka8avxV
       CWvZ+ClQRlD9AVzdXPLTlqfv1jrb85pedjJvmsPeLOmNFw9Et1w02ObQXemefswk
       UQxA0x/mGTy4PuY6f3IdeU0ohD0qgCoxR0Ul70tv5OV22u1O5rd/5jdcDE3vCVZx
       dwYCMS3Zr+ijGUET6XwWcmSzeuE/sQGlCfswUZ+0bMiJfKj5RyC5lccuckIEixWs
       5yOumKGr2cIzG3KrOowYVceUZq+HavRbiu/V6Y1c4bjtMpNQ13K2jY9592e2ADTB
       0tcpD5qb8ni5jBNCgRhi4E2A16nzDqNurZbhe64ogWs/CFHqSZzKp/qHI2ejtBaz
       RT1JAVCvUZ2U7db0xhpXw077f76yR5w4XIfXAKKHG+Cg00lV7M+4eGt0XfZEmhpx
       SJZwGg3MnbT02wW1P8Aj8mADxokmFIigTjg+OBNb7Yx6cLPeEM00AAODOLxA1GVV
       NADjDVddv/NgCFGSS3e4S+IHtpVlksG/g/xkNiUD3ueauQINBGEG3kQBEADUR1Bi
       jOm+M2lnsUgtFxKHwpxBUM2Rlx86jm75mZujskrjxn0H1cgLy5DN5fIQgnfQ+jSO
       Oso3Nde1Y1Une92HB/k2KV4GNpMmv0K1yxcINJxhOZFcjxAOxuxDm4fWKkvIAAv2
       i1/glQufKuK84edVtP2SqUd9+2a6nPotbIKXNs8bosKVktzf2x5GtOHMmFMG3LWl
       WbKYHBsFG+IFoUPng0DP3aGhRx29AW8k8tdr5o8pqu4FOwWaNAXuXA1lIKffWpPO
       PdOa26Lw3EEpwsngK7kXADu0aCa09rZpuIqk+18A97vqmE3QT0wXpR45hg+9qswd
       4GFJd0LyCzduBJHtkHPnQCa082gAzAHlchr7AEYp3fweIHuoMaVzF72r6WpjVzxL
       rSy/jvCmFoKJZr9qK2DMoknGLO1ReoIs5bFaHRFKNc44ZyZwqaTkoxkCG6tUiTXu
       YknWdUoNvJ2poFXEpzqZxtjP2+/T3NILrwQW+OyNtL9bbMZWGFUrV4/JSZIZTxKg
       50ClOTZfTx0xlSY0L7FsALHuwJ17I0kxnsV9+wlkbz/1WZ8F+hh6onkOETiUuL2I
       83dqkwcdeHXtBD50ClomUi7typoM8kA+UB3ftT9yFSiL1mpiCDLO2Y5hX5rdv3ra
       PpmaL29M/Yv1tmwJQuWPS/4n4p4e1DKyoqBbiQARAQABiQRsBBgBCgAgFiEEGj1R
       9yYc/bPxL3pZVgw8bmRIfiQFAmEG3kQCGy4CQAkQVgw8bmRIfiTBdCAEGQEKAB0W
       IQSDga/shcRyJyCF7DXEZ/IFIkFtzQUCYQbeRAAKCRDEZ/IFIkFtzYamD/44nnJq
       qJ1sEt1nayYItP/SV3CDvZhftq1rMzRS7KAipGu7pBAKqb65uwmZu2DPclvdY8l4
       HZR7BmM9pRgq3nAaSKsDhBAwhTB/0NyAXa13Hr+UD8auukX8ElG0Hx05Ah6zA9X1
       SQYcvDRrBz+i0Dp2fnDX302u4/XH+3mPH2xmR4IPLiSSHlWV6Atjzf2Ki72bfJr4
       4fTcToMXIBuexXwcS6zkUsobYW3ez9dPSvfwgCngBs1VKa5YYfGj8DRdA5dkvDfG
       TpuXU0JeoMetansSB5izT9U9wIV/ovmQDBoSp2mBj3nsJK1rOFG0ZLC08bUfqbZ7
       VBgodx2bh09G5itzuliTsnkCu9EXuMzKREHQQGmoi1HP8U5EDrmQmdzJCIUBce7m
       ofxfrzBNe3EGKBj2OcjnFtC2DXAa1DHjfEgFfbNw8d0JQISQCLnSRQ++3chN+KNX
       3a64WdW241dxzrh7qUAfEpoIY1+lz3ZbhsUPj02AaACIZw9cKe05PhmMYYFPvjRZ
       lNVc2Boj7MU76A41HS9HZOy+Q/DPMAwJ6X9PGKPxdQxWSVnjKQGPdv0xs0kFSR/l
       r2gBBL9EGs4CNzlhxDI9ugmwxk/6O1rThkTuaSh+qVmMNg8R2oz++9xqlfQbU1vB
       6mvLXxgnh/I5PML8HUfONk1lf/0xWyAHPoJzjEquD/9lXm6CNHv1OfMoqtTSboyM
       jKAFVjW5fFbK7q3IVqzt5KrskTgRSn7iguiGzaG2MSTnkj3SDrUFGcUe8W/oFdN+
       rhNY8HQF5wbfp0OaV0dkSs5i5wgHd0dx0wsoptuHYEUVyTxxbDIgNyjllUhmdX4W
       /Z5U0MIFmxbwoCUL4Q59xdd9ceHSncO1DYGL8FVXRCb16P8y8ZVNWqPvdXCPaufe
       01EqtL9pClNhPGXB86RwGUIeMLcRCcITQWqPE5lZuQYcri7Cz8/wbW/9qTjqWZWc
       UZD4m5EQ3P8RUApf0DhxNdJt9uUvUA4vsWJ0TzVLAbRBi5AZLR5LKszp+CIBSERP
       LUBe/1JI+Jj91xi+rXdlNr1J6Tjv3i36t2ryc3QcIA7+TLDeNI7BJJD+kKIMTJWs
       tifozgYkqiiWoJ/dbP1nnIAwgyU46xXCUssUys6LLZUv3+/sWATHH72O3+UMNu8s
       LcVxBwmw2l4b1dNflCi9em9GeVILIcBzAmKZzHMNnm8a/V/aTwVt3sIwTuiX6V6o
       j21ik/Z93ZJH2sj7CljjvCWkWCHtOxLskT/xQ5eJWY3wio8C9etVqDnYNVs4yszP
       1//mxOecbt5EQurOHoo/Ub5xNJrpY3LDMknI6mQR2uk8YWWzrSmx5JhjOp8Tfj6U
       cscdznvmahsrmt8+2AAS4Q==
       =i+EJ
       -----END PGP PUBLIC KEY BLOCK-----
    mode: 0644
  register: firefoxpwa_source

- name: Update apt
  apt:
    update_cache: true
  when: firefoxpwa_source.changed

- name: Install firefoxpwa deb
  package:
    name:
      - firefoxpwa


- name: XMPP
  package:
    name:
      - dino-im
  tags: xmpp

- name: Add syncthing key
  ansible.builtin.get_url:
    url: https://syncthing.net/release-key.gpg
    dest: /etc/apt/keyrings/syncthing-archive-keyring.gpg
    mode: 0644

- name: Add syncthing source
  copy:
    dest: /etc/apt/sources.list.d/syncthing.sources
    content: |
      Types: deb
      URIs: https://apt.syncthing.net/
      Suites: syncthing
      Components: stable
      Signed-By: /etc/apt/keyrings/syncthing-archive-keyring.gpg
    mode: 0644
  register: syncthing_source

- name: Delete legacy syncthing source
  file:
    dest: /etc/apt/sources.list.d/syncthing.list
    state: absent
    mode: 0644

- name: Update apt
  apt:
    update_cache: true
  when: syncthing_source.changed

- name: Install syncthing deb
  package:
    name:
      - syncthing

- name: Remove syncthing snap if installed
  snap:
    name: syncthing
    state: absent

- name: Add signal source
  copy:
    dest: /etc/apt/sources.list.d/signal-desktop.sources
    content: |
      Types: deb
      URIs: https://updates.signal.org/desktop/apt
      Suites: xenial
      Components: main
      Architectures: amd64
      Signed-By:
       -----BEGIN PGP PUBLIC KEY BLOCK-----
       .
       mQINBFjlSicBEACgho//0EzxuvuCn01LwFqGAgwPKcSSl4L+AWws5/YbsZZvmTBk
       ggIiVOCIMh+d3cmGu5W3ydaeUbWbFGNsxO44EB5YBZcuLa5EzRKbNPVaOXKXmhp+
       w0mEbkoKbF+3mz3lifwBnzcBpukyJDgcJSq8cXfq5JsDPR1KAL6ph/kwKeiDNg+8
       oFgqfboukK56yPTYc9iM8hkTFdx9L6JCJaZGaDMfihoQm2caKAmqc+TlpgtKbBL0
       t5hrzDpCPpJvCddu1NRysTcqfACSSocvoqY0dlbNPMN8j04LH8hcKGFipuLdI8qx
       BFqlMIQJCVJhr05E8rEsI4nYEyG44YoPopTFLuQa+wewZsQkLwcfYeCecU1KxlpE
       OI3xRtALJjA/C/AzUXVXsWn7Xpcble8i3CKkm5LgX5zvR6OxTbmBUmpNgKQiyxD6
       TrP3uADm+0P6e8sJQtA7DlxZLA6HuSi+SQ2WNcuyLL3Q/lJE0qBRWVJ08nI9vvxR
       vAs20LKxq+D1NDhZ2jfG2+5agY661fkx66CZNFdz5OgxJih1UXlwiHpn6qhP7Rub
       OJ54CFb+EwyzDVVKj3EyIZ1FeN/0I8a0WZV6+Y/p08DsDLcKgqcDtK01ydWYP0tA
       o1S2Z7Jsgya50W7ZuP/VkobDqhOmE0HDPggX3zEpXrZKuMnRAcz6Bgi6lwARAQAB
       tDFPcGVuIFdoaXNwZXIgU3lzdGVtcyA8c3VwcG9ydEB3aGlzcGVyc3lzdGVtcy5v
       cmc+iQI3BBMBCgAhBQJY5UonAhsDBQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAAAoJ
       ENmAoXRX9vsGU00P/RBPPc5qx1EljTW3nnTtgugORrJhYl1CxNvrohVovAF4oP1b
       UIGT5/3FoDsxJHSEIvorPFSaG2+3CBhMB1k950Ig2c2n+PTnNk6D0YIUbbEI0KTX
       nLbCskdpy/+ICiaLfJZMe11wcQpkoNbG587JdQwnGegbQoo580CTSsYMdnvGzC8A
       l1F7r37RVZToJMGgfMKK3oz8xIDXqOe5oiiKcV36tZ5V/PCDAu0hXYBRchtqHlHP
       cKWeRTb1aDkbQ7SPlJ2bSvUjFdB6KahlSGJl3nIU5zAH2LA/tUQY16Z1QaJmfkEb
       RY61B/LPv1TaA1SIUW32ej0NmeF09Ze4Cggdkacxv6E+CaBVbz5rLh6m91acBibm
       pJdGWdZyQU90wYFRbSsqdDNB+0DvJy6AUg4e5f79JYDWT/Szdr0TLKmdPXOxa1Mb
       i34UebYI7WF7q22e7AphpO/JbHcD+N6yYtN6FkUAmJskGkkgYzsM/G8OEbBRS7A+
       eg3+NdQRFhKa7D7nIuufXDOTMUUkUqNYLC+qvZVPJrWnK9ZsGKsP0EUZTfEGkmEN
       UzmASxyMMe6JHmm5Alk4evJeQ31U5jy7ntZSWEV1pSGmSEJLRNJtycciFJpsEp/p
       LkL0iFb30R9bHBp6cg7gjXbqZ9ZpEsxtZMBuqS70ZZyQdu2yGDQCBk7eLKCjuQIN
       BFjlSicBEACsxCLVUE7UuxsEjNblTpSEysoTD6ojc2nWP/eCiII5g6SwA/tQKiQI
       ZcGZsTZB9kTbCw4T3hVEmzPl6u2G6sY9Kh1NHKMR3jXvMC+FHODhOGyAOPERjHCJ
       g20XF2/Gg462iW8e3lS7CQBzbplUCW/oMajj2Qkc61NLtxxzsssXjCKExub2HxCQ
       AYtenuDtLU73G75BoghWJ19dIkodnEI0/fzccsgiP5xeVgmkWJPo9xKJtrBS5gcS
       s7yaGY9YYo71RFzkpJpeAeLrJJqt+2KqH1u0EJUbs8YVGXKlnYeSNisg4OaRsldW
       JmDDCD5WUdFq2LNdVisfwirgjmwYpLrzVMbmzPvdmxQ1NYzJsX4ARSL/wuKCvEub
       gh1AR5oV7mUEA9I3KRH0TIDOnH4nGG3kqArzrV2E1WtnNzFII0IN9/48xY7Vkxs7
       Oil+E+wCpzUv/tF4ALx5TAXoPd66ddEOxzDrtBpEzsouszt7uUyncyT3X6ip5l9f
       mI4uxbsjwkLVfd1WpD1uvp869oyx6wtHluswr1VY/cbnHO8J6J35JVMhYQdMOaTZ
       rX6npe/YOHJ4a7YzLMfdrxyzK1wq5xu/9LgclMTdIhAKvnaXBg41jsid5n0GdIeW
       ek8WAVNyvuvoTwm3GG6+/pkTwu0J79lAMD1mhJsuSca6SFNgYnd+PQARAQABiQIf
       BBgBCgAJBQJY5UonAhsMAAoJENmAoXRX9vsGvRgQAJ4tWnK2TncCpu5nTCxYMXjW
       LuvwORq8EBWczHS6SjLdwmSVKGKSYtl2n6nCkloVY6tONMoiCWmtcq7SJMJoyZw3
       XIf82Z39tzn/conjQcP0aIOFzww1XG7YiaTAhsDZ62kchukI52jUYm2w8cTZMEZB
       oIwIWBpmLlyaDhjIM5neY5RuL7IbIpS/fdk2lwfAwcNq6z/ri2E5RWl3AEINdLUO
       gAiVMagNJaJ+ap7kMcwOLoI2GD84mmbtDWemdUZ3HnqLHv0mb1djsWL6LwjCuOgK
       l2GDrWCh18mE+9mVB1Lo7jzYXNSHXQP6FlDE6FhGO1nNBs2IJzDvmewpnO+a/0pw
       dCerATHWtrCKwMOHrbGLSiTKEjnNt/74gKjXxdFKQkpaEfMFCeiAOFP93tKjRRhP
       5wf1JHBZ1r1+pgfZlS5F20XnM2+f/K1dWmgh+4Grx8pEHGQGLP+A22O7iWjg9pS+
       LD3yikgyGGyQxgcN3sJBQ4yxakOUDZiljm3uNyklUMCiMjTvT/F02PalQMapvA5w
       7Gwg5mSI8NDs3RtiG1rKl9Ytpdq7uHaStlHwGXBVfvayDDKnlpmndee2GBiU/hc2
       ZsYHzEWKXME/ru6EZofUFxeVdev5+9ztYJBBZCGMug5Xp3Gxh/9JUWi6F1+9qAyz
       N+O606NOXLwcmq5KZL0g
       =zyVo
       -----END PGP PUBLIC KEY BLOCK-----
    mode: 0644
  register: signal_source
  tags: signal

- name: Update apt
  apt:
    update_cache: true
  when: signal_source.changed
  tags: signal

- name: Install signal deb
  package:
    name:
      - signal-desktop
  tags: signal
