- name: Ensure systemd.conf.d overrides are possible
  file:
    path: /etc/systemd/systemd.conf.d
    state: directory
    mode: 0755

- name: Ensure short systemd timeout
  copy:
    dest: /etc/systemd/systemd.conf.d/timeouts.conf
    content: |
      DefaultTimeoutStopSec=15s
      DefaultTimeoutAbortSec=15s
    mode: 0644

- name: Install radeontop
  apt:
    package: radeontop
  when: "'AuthenticAMD' in ansible_facts.processor"

- name: Install flatpak
  apt:
    package: flatpak
  tags: flatpak

- name: Install snap-store
  snap:
    name: snap-store

- name: Install firmware-updater
  snap:
    name: firmware-updater
