- name: Configure dpkg force-unsafe-io
  copy:
    dest: /etc/dpkg/dpkg.cfg.d/force-unsafe-io
    content: force-unsafe-io
    mode: 0644

- name: Configure mbsync apparmor profile
  copy:
    dest: /etc/apparmor.d/local/mbsync
    content: |
      owner @{HOME}/Mail/**/ rw,
      # Read secrets
      /usr/bin/dash rix,
      /usr/bin/cat rix,
      /usr/bin/gnucat rix,
      /usr/lib/cargo/bin/coreutils/cat rix,
      /usr/bin/coreutils rix,
      /usr/share/locales/** rm,
      owner @{HOME}/Private/mail.* r,
    mode: 0644

- name: Install various package management helpers
  apt:
    name:
      - apt-file
      - aptitude
      - dctrl-tools

- name: Install various monitoring tools
  apt:
    package:
      - htop
      - s-tui
      - stress
      - lm-sensors

- name: Install terminal tools
  tags: terminal
  package:
    name:
      - ubuntu-minimal
      - ubuntu-standard
      - language-pack-en
      - language-pack-de
      - apparmor-utils
      - fish
      - moreutils           # This provides lots of cool stuff
      - p7zip-full
      - pv
      - rename
      - ripgrep

- name: Install multiplexer
  tags: terminal
  snap:
    name: zellij
    classic: true

- name: Communication tools
  package:
    name:
      - neomutt
      - notmuch
      - lieer
      - isync

- name: Network tools
  ansible.builtin.package:
    name:
      - iftop
      - curl
      - aria2
      - iperf3

- name: Install vim
  package:
    name:
      - vim
      - vim-airline
      - fonts-powerline
      - fonts-hack

- name: Remove nano
  package:
    name:
      - nano
    state: absent

- name: Install gnupg
  package:
    name:
      - gnupg
      - scdaemon
      - debian-keyring

- name: Disable ssh-agent
  ansible.builtin.lineinfile:
    path: /etc/X11/Xsession.options
    regexp: 'use-ssh-agent'
    line: 'no-use-ssh-agent'

- name: Install kernel
  package:
    name:
      - linux-generic
  register: linux_generic

- name: Remove  OEM kernel
  package:
    name:
      - linux-generic-hwe-22.04
      - linux-oem-22.04b
    state: absent

- name: Install file system stack
  package:
    name:
      - btrfs-progs
      - cryptsetup
      - lvm2
      - xfsprogs
      - duf
      - duperemove

- name: Boot programs
  package:
    name:
      - shim-signed
      - efibootmgr

- name: Install git
  package:
    name:
      - git

- name: Install /usr/local
  shell:
    cmd: git clone https://github.com/julian-klode/usr-local.git usr-local &&  GIT_DIR=usr-local/.git  git stash && GIT_DIR=usr-local/.git git checkout && mv usr-local/.git .git && rm -r usr-local
    chdir: /usr/local
    creates: /usr/local/.git
  tags: usrlocal

- name: Install borg backup
  package:
    name: borgbackup

- import_tasks: dns.yml
  tags: dns

- import_tasks: postfix.yml
  tags: postfix
